In [8]:
import pandas as pd
import numpy as np

solar_data = pd.read_csv('data/solarpower.csv')
solar_data.head()

         date  cum_power
0  2017-01-01    20111.0
1  2017-01-02    20112.0
2  2017-01-03    20115.0
3  2017-01-04    20117.0
4  2017-01-05    20119.0

In [9]:

mean = solar_data["cum_power"].mean()
print(mean)

23775.573795180724

In [10]:
solar_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 664 entries, 0 to 663
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   date       664 non-null    object
 1   cum_power  664 non-null    float64
dtypes: float64(1), object(1)
memory usage: 10.5+ KB

In [11]:

import pandas as pd

solar_data['date'] = pd.date_range('2017-3-1', periods=664, freq='D')
mask = (solar_data['date'] >= '2017-3-1') & (solar_data['date'] <= '2017-3-31')

solar_data = solar_data.loc[mask]

In [12]:
display(solar_data)

         date  cum_power
0  2017-03-01    20111.0
1  2017-03-02    20112.0
2  2017-03-03    20115.0
3  2017-03-04    20117.0
4  2017-03-05    20119.0
5  2017-03-06    20125.0
6  2017-03-07    20129.0
7  2017-03-08    20130.0
8  2017-03-09    20131.0
9  2017-03-10    20132.0
10 2017-03-11    20133.0
11 2017-03-12    20135.0
12 2017-03-13    20137.0
13 2017-03-14    20139.0
14 2017-03-15    20141.0
15 2017-03-16    20143.0
16 2017-03-17    20145.0
17 2017-03-18    20150.0
18 2017-03-19    20156.0
19 2017-03-20    20162.0
20 2017-03-21    20169.0
21 2017-03-22    20175.0
22 2017-03-23    20180.0
23 2017-03-24    20183.0
24 2017-03-25    20184.0
25 2017-03-26    20186.0
26 2017-03-27    20193.0
27 2017-03-28    20197.0
28 2017-03-29    20201.0
29 2017-03-30    20208.0
30 2017-03-31    20208.0

In [13]:
mean = solar_data["cum_power"].mean()
print(mean)

20153.09677419355